flask==3.1.3
requests==2.34.2
feedparser==6.0.14
trafilatura==2.2.0
spacy==3.8.16
de_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.8.0/de_core_news_sm-3.8.0-py3-none-any.whl
